.centrados {
    text-align: center;
}
.tam {
    width: 100%;
    max-width: 500px;

}
.tama3{
    width: 100%;
    max-width: 565px;
}
.tama4{
    width: 100%;
    max-width: 200px;
}
.tama5{
    width: 100%;
    max-width: 700px;
}
.footer {
    background-color: #272525;
    padding: 20px;
    text-align: center;
}

.color {
    color: rgb(255, 255, 255);
}

.tam2 {
    width: 100%;
    max-width: 200px;
}

.cajalinda {
    background-color: rgb(236, 177, 0);
    width: 100%;
    border: 7px solid rgb(236, 177, 0);
    padding: 50px;
    margin: 10px;
    border-radius: 44px;
}

.desc {

    margin-left: 300px;
    margin-bottom: 40px;
    margin-right: 300px;

    font-weight: bold;


    border: 5px outset #00A4BD;


    color: #2D3E50;


    background-color: #EAF0F6;


    text-align: center;
}

.datos {

    margin-left: 450px;
    margin-bottom: 40px;
    margin-right: 450px;

    font-weight: bold;


    border: 2px outset #ff6adf;


    color: #2D3E50;


    background-color: #f5cbff;


    text-align: center;
}

.colorletter{
    color: #e8e8e8;
}
.tama6{
    width: 100%;
    max-width: 1350px;
}

